/* Default Light Mode */
:root {
  --bg-color: #e6e6e6;
  --card-bg: #ffffff;
  --text-color: #000000;
  --box-bg: #f1f1f1;
}

/* DARK MODE */
[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --card-bg: #2a2a2a;
  --text-color: #ffffff;
  --box-bg: #333333;
}

body {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

.app-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  font-family: Algerian;
  color: #1c7777;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BUTTON */
.theme-toggle-btn {
  padding: 8px 12px;
  margin-bottom: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #4cafaf;
  color: white;
  font-size: 14px;
}

.theme-toggle-btn:hover {
  background-color: #45a095;
}

/* Component Containers use Theme Variables */
.summary-box,
.form-container,
.list-container,
.list-item {
  background: var(--box-bg) !important;
  color: var(--text-color) !important;
}

.list-item {
  background: var(--card-bg) !important;
}
